tmp
.texlipse
.project

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.bak
*.sty
*.dem
*.aux
*.log
*.ind
llncs2e/readme.txt
llncs2e/llncs.cls
llncs2e/splncs03.bst
*.dvi
llncs2e/llncs.doc
*.out
*.bbl
*.gz
*.blg
llncs2e/history.txt
llncs2e/llncsdoc.pdf
FlexMDE-2017.pdf
*.nav
*.snm
*.toc
*.vrb
